<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfdz.mybatis.dao.EmployeeMapper">
   <!-- <resultMap id="BaseResultMap" type="com.gfdz.mybatis.entity.Employee">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="last_Name" jdbcType="VARCHAR" property="lastName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
    </resultMap>-->
    <select id="getById" resultType="com.gfdz.mybatis.entity.Employee">
       select id ,last_name as lastName,gender,email from tbl_employee where id=#{id}
    </select>
</mapper>